@use '../../styles/variables' as v;

.adds {
  padding: 0 10px;

  .adds__title {
    width: 100%;
    text-align: center;
  }

  &__link {
    .add {
      position: relative;
      overflow: hidden;
      padding: calc(4 * v.$gap) calc(3 * v.$gap);
      margin: v.$gap auto;
      border: 1px solid v.$hashtag-color;
      border-radius: 10px;
      min-width: 200px;

      // &-title {
      //   position: relative;
      //   color: v.$hashtag-color;
      //   font-weight: bold;
      //   text-shadow: 2px 2px 2px white;
      // }

      // &-content {
      //   position: relative;
      //   color: black;
      //   font-weight: bold;
      // }
    }

    .add:before {
      content: ' ';
      display: block;
      position: absolute;
      // padding: calc(3 * v.$gap);
      // margin: v.$gap calc(2 * v.$gap);
      // border: 1px solid v.$hashtag-color;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      // margin: 0 auto;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    .gt2i:before {
      background-image: url('/assets/images/logos/adds/gt2i.webp');
    }

    .benjx:before {
      background-image: url('/assets/images/benjx-black.webp');
    }

    .newgo:before {
      background-image: url('/assets/images/logos/adds/newgo.webp');
    }

    .driverxperience:before {
      background-image: url('/assets/images/logos/adds/driverxperience.webp');
    }

    .jfr:before {
      background-image: url('/assets/images/logos/adds/jfrperformance.webp');
    }

    .proracecafe:before {
      background-image: url('/assets/images/logos/adds/pro-race-cafe.webp');
    }

    .costanzo:before {
      background-image: url('/assets/images/logos/adds/olive-grove-oil.webp');
    }

    .fabdesign:before {
      background-image: url('/assets/images/logos/adds/fab-design.webp');
    }

    .polemeca:before {
      background-image: url('/assets/images/logos/adds/pole-meca-ales.webp');
    }

    .spiruline:before {
      background-image: url('/assets/images/logos/adds/spiruline.webp');
    }

    .infoware:before {
      background-image: url('/assets/images/logos/adds/infoware.webp');
    }

    .alesagglo:before {
      background-image: url('/assets/images/logos/adds/ales-agglo.webp');
    }

    .alescevennes:before {
      background-image: url('/assets/images/logos/adds/ales-cevennes.webp');
    }

    .cammus:before {
      background-image: url('/assets/images/logos/adds/cammus.webp');
    }
  }
}

@media (min-width: 600px) {
  .adds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: v.$gap;
    // padding: 0 v.$gap;

    .add {
      width: 90%;
      margin: 0 auto;
      position: relative;
      left: 0;
    }
  }
}

@media (min-width: 1000px) {
  .adds {
    margin: 0 auto;
    .add {
      width: 200px;
      height: 150px;
    }
  }
}
