@use '../../styles/variables' as v;

.adds {
  .add {
    position: relative;
    overflow: hidden;
    padding: calc(3 * v.$gap);
    margin: v.$gap calc(2 * v.$gap);
    height: 250px;
    border: 1px solid v.$hashtag-color;
    border-radius: 10px;

    &-title {
      // display: none;
      position: relative;
      // z-index: 1;
      color: v.$hashtag-color;
      font-weight: bold;
      text-shadow: 2px 2px 2px white;
    }

    &-content {
      // display: none;
      position: relative;
      // z-index: 1;
      color: black;
      font-weight: bold;
      // text-shadow: 0.2px 0.2px 0.2px white;
    }
  }

  .gt2i:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/gt2i.webp');
    background-size: 102%;
    background-position: 100%;
    background-repeat: no-repeat;
    // opacity: 0.5;
  }

  .benjx:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/benjx.webp');
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    // opacity: 0.5;
  }

  .newgo:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/newgo.webp');
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
    // opacity: 0.5;
  }

  .driverxperience:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/images/driverxperience.webp');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    // opacity: 0.5;
  }
}
