// Récupération des variables
@use '../../styles/variables' as v;

.loader {
  position: absolute;
  bottom: 0;
  // left: 0;
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;

  .loader_container {
    position: relative;
    width: fit-content;
  }

  p {
    width: fit-content;
    color: grey;
    font-weight: 700;
  }
}
