@use '../../styles/variables' as v;

.store-preview {
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 v.$gap calc(2 * v.$gap) v.$gap;

    &__btn:first-child {
      order: -2;
    }

    .store-preview__card {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      display: none;

      // &__img {
      //   order: -1;
      //   display: none;
      // }

      // &__img--current {
      //   display: block;
      //   height: 100px;
      // }

      // &__pic {
      //   width: 200px;
      // }

      &__subtitle {
        strong {
          font-weight: bold;
        }
      }
    }

    .store-preview__card--current {
      display: block;
      order: -1;

      .slider__img {
        height: 100px;
      }
    }
  }
}
