@use '../../styles/variables' as v;

.store-preview {
  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 v.$gap calc(2 * v.$gap) v.$gap;

    &__btn:first-child {
      order: -2;
    }

    .store-preview__card {
      display: none;

      &__subtitle {
        strong {
          font-weight: bold;
        }
      }
    }

    .store-preview__card--current {
      display: block;
      order: -1;

      .slider__img {
        height: 100px;
      }
    }
  }
}
