@use '../../styles/variables' as v;

.legends {
  &-pole {
    position: relative;
    overflow: hidden;
    margin: v.$gap auto;
    height: 288px;
    width: 315px;
    border: 1px solid v.$hashtag-color;
    border-radius: 10px;

    &__title {
      position: absolute;
      left: 10px;
      bottom: 10px;
      margin: 0;
      font-size: v.$p-font-size;
      text-align: left;
      color: v.$hashtag-color;
      text-shadow: 0.5px 0.5px 0.5px black;
    }

    .teams {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      backdrop-filter: none;
      transition-property: backdrop-filter, opacity;
      transition-duration: 0.4s;
      width: 100%;
      height: 100%;
      padding: v.$gap;
      color: v.$secondary-bckg;
      text-shadow: 0.2px 0.2px 0.2px black;

      .teams-list {
        &__item {
          display: flex;
          justify-content: space-between;

          .name {
            color: v.$hashtag-color;
            font-size: v.$h1-font-size;

            &-vbr {
              color: v.$secondary-bckg;
            }
          }

          .function {
            font-size: v.$h2-font-size;
          }
        }
      }

      .teams-palmares {
        &__item {
          font-size: v.$p-font-size !important;
          color: v.$secondary-bckg;
          text-shadow: 0.5px 0.5px 0.5px black;
          font-size: 0.8em;
          margin-bottom: 15%;
        }
      }
    }

    .teams--active {
      opacity: 1;
      backdrop-filter: blur(40px);
      transition-property: backdrop-filter, opacity, height;
      transition-duration: 0.6s;
    }
  }

  &-tristan,
  &-autumn {
    height: 414px;

    .teams {
      justify-content: flex-start;
      &-palmares {
        margin-top: 40%;
      }
    }
  }

  &-autumn {
    .teams {
      &-palmares {
        margin-top: 10%;
      }
    }
  }

  &-pole:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-hit:before {
    background-image: url('/assets/images/legends/hit.webp');
    background-size: 104%;
    background-position: 0 10%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-haze:before {
    background-image: url('/assets/images/legends/haze.webp');
    background-size: 100%;
    background-position: left 30%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-hujda:before {
    background-image: url('/assets/images/legends/hujda.webp');
    background-size: 102%;
    background-position: center 30%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-siiwu:before {
    background-image: url('/assets/images/legends/siiwu.webp');
    background-size: 103%;
    background-position: center 50%;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-dieguin:before {
    background-image: url('/assets/images/legends/dieguin.webp');
    background-size: 102%;
    background-position: left 0;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-marvin:before {
    background-image: url('/assets/images/legends/marvin.webp');
    background-size: 103%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-tristan:before {
    background-image: url('/assets/images/legends/tristan.webp');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-reipz:before {
    background-image: url('/assets/images/legends/reipz.webp');
    background-size: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    opacity: 1;
  }

  &-autumn:before {
    background-image: url('/assets/images/legends/autumn.webp');
    background-size: 101%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }
}
