// ------------- measurement ----------------
$gap: 1em;
$h1-font-size: 1.5em;
$h2-font-size: 1.2em;
$p-font-size: 1em;
$p-font-weight: 500;

// ------------- colors ---------------------
$main-bckg: #ededed;
$header-bckg: '/assets/images/metal-header.avif';
$secondary-bckg: #bebebe;
$banner-bckg: '/assets/images/metal-wallpaper.avif';
$banner-vbr: '/assets/images/banner.webp';

$hashtag-color: #ff8d01;
