/*
Définition de variables Sass, par exemple :
$color: #282c34;
*/

// ------------- measurement ----------------
$gap: 1em;
$h1-font-size: 1.5em;
$p-font-size: 1em;

// ------------- colors ---------------------
$main-bckg: #ededed;
// $main-bckg: './assets/images/alu-bckg.webp';
// $header-bckg: black;
$header-bckg: './images/metal-header.avif';
$secondary-bckg: #bebebe;
$banner-bckg: './images/metal-wallpaper.avif';
$banner-vbr: './images/banner.webp';

// $hashtag-color: #ffa621;
$hashtag-color: #ff8d01;
// $hashtag-bckg: './assets/images/metal-orange.jpg';
