@use '../../styles/variables' as v;

.App {
  position: relative;
  font-family: 'Oxanium';
  // background-color: v.$main-bckg;
  background-color: white;
  max-width: 1100px;
  min-height: 100vh;
  margin: auto;
}
