@use '../../styles/variables' as v;

.App {
  font-family: 'Oxanium';
  // background-image: url(v.$main-bckg);
  background-color: v.$main-bckg;
  max-width: 1080px;
  min-height: 100vh;
  margin: auto;
}
