@use '../../styles/variables' as v;

.historic {
  text-align: center;
  padding: 0 calc(0.5 * v.$gap);
  max-width: 700px;
  margin: auto;

  &-title {
    margin-bottom: v.$gap;
    margin-top: 0;
  }

  &-content {
    margin-bottom: v.$gap;
  }

  &-list {
    &__item {
      margin-bottom: v.$gap;
    }
  }

  &-signature {
    font-size: v.$h1-font-size;
    color: v.$hashtag-color;
    text-shadow: 0.2px 0.2px 0.2px black;
    margin: calc(2 * v.$gap);
  }
}
