@use '../../styles/variables' as v;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-image: url(v.$header-bckg);
  background-size: cover;
  list-style: none;
  z-index: 3;

  .main-header {
    .header-logo {
      display: inline;
      width: 80px;
    }
    .main-header_div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;
      padding-right: v.$gap;
      position: absolute;
      top: 40%;
      left: 23%;

      .main-header_link {
        color: white;
      }

      .main-header_link--active {
        color: v.$hashtag-color;
      }

      .main-header_separation {
        color: white;
      }

      .main-header_nav {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // position: relative;
        // right: v.$gap;

        .main-header_list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: calc(3 * v.$gap);
          .main-header_link {
            color: white;
          }
          .main-header_separation {
            text-align: center;
            color: white;
          }
        }
      }
    }
  }

  .secondary-header_nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .secondary-header_nav--hidden {
    display: none;
  }
}

.header--visible {
  top: 0;
  transition: top 0.4s ease-out;
}
.header--hidden {
  top: calc(-6 * v.$gap);
  transition: top 0.4s ease-out;
}

@media (min-width: 600px) {
  .header {
    font-size: calc(1.4 * v.$p-font-size);
    height: 120px;

    .main-header {
      .header-logo {
        width: 120px;
      }
    }
  }
}

@media (min-width: 900px) {
  .header {
    font-size: calc(1.6 * v.$p-font-size);
    height: 180px;

    .main-header {
      .header-logo {
        width: 180px;
      }
    }
  }

  .header--hidden {
    top: calc(-7.1 * v.$gap);
    transition: top 0.4s ease-out;
  }
}

@media (min-width: 1400px) {
  .header {
    .main-header {
      .main-header_div {
        .main-header_nav {
          .main-header_list {
            gap: calc(6 * v.$gap);
          }
        }
      }
    }
  }
  // .main-header_list {
  //   gap: calc(10 * v.$gap);
  // }
}
