@use '../../styles/variables' as v;

.details {
  &-pole {
    position: relative;
    overflow: hidden;
    margin: v.$gap v.$gap;
    min-height: 150px;
    max-height: 100%;
    border: 1px solid v.$hashtag-color;
    border-radius: 10px;

    &__title {
      position: absolute;
      left: 10px;
      bottom: 10px;
      margin: 0;
      font-size: v.$p-font-size;
      text-align: left;
      color: v.$hashtag-color;
      text-shadow: 0.5px 0.5px 0.5px black;
    }

    .teams {
      opacity: 0;
      backdrop-filter: none;
      transition-property: backdrop-filter, opacity;
      transition-duration: 0.4s;
      min-height: 150px;
      max-height: 150px;
      padding: v.$gap;
      color: v.$secondary-bckg;
      text-shadow: 0.2px 0.2px 0.2px black;

      .teams-list {
        &__item {
          display: flex;
          justify-content: space-between;

          .name {
            color: v.$hashtag-color;

            &-vbr {
              color: v.$secondary-bckg;
            }
          }
        }
      }

      .teams-palmares {
        margin-bottom: 10px;
        color: v.$hashtag-color;
        text-shadow: 0.5px 0.5px 0.5px black;
        font-size: 0.8em;
      }
    }

    .teams--active {
      opacity: 1;
      backdrop-filter: blur(40px);
      min-height: 150px;
      max-height: 100%;
      transition-property: backdrop-filter, opacity, height;
      transition-duration: 0.6s;
    }
  }

  &-pole:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-ams2:before {
    background-image: url('/assets/images/ams2-bckg.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-iracing:before {
    background-image: url('/assets/images/iracing-bckg.jpeg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-rfactor:before {
    background-image: url('/assets/images/rfactor-bckg.jpg');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-acc:before {
    background-image: url('/assets/images/acc-bckg.webp');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-gt:before {
    background-image: url('/assets/images/gt-bckg.jpg');
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-f1:before {
    background-image: url('/assets/images/f1-bckg.jpg');
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-rbr:before {
    background-image: url('/assets/images/rbr-bckg.jpg');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-wrc:before {
    background-image: url('/assets/images/wrc-bckg.jpg');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-dirt:before {
    background-image: url('/assets/images/dirt-bckg.webp');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-rx:before {
    background-image: url('/assets/images/rx-bckg.jpeg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}
