@use '../../styles/variables' as v;

.details {
  min-height: 49.1vh;
  padding: 0 v.$gap;

  .pole-title {
    text-align: center;
    width: 100%;
  }

  &-advertising__title {
    color: v.$hashtag-color;
    text-shadow: 0.2px 0.2px 0.2px black;
    margin-top: calc(2 * v.$gap);
  }

  &-advertising__text {
    margin-top: v.$gap;

    strong {
      font-weight: bold;
    }
  }

  &-all {
    min-height: 300px !important;
  }

  &-pole {
    position: relative;
    margin: v.$gap 0;
    min-height: 150px;
    border: 1px solid v.$hashtag-color;
    border-radius: 10px;

    &__title {
      position: absolute;
      left: 10px;
      bottom: 10px;
      margin: 0;
      font-size: v.$p-font-size;
      text-align: left;
      color: v.$hashtag-color;
      text-shadow: 0.5px 0.5px 0.5px black;
    }

    .team {
      opacity: 0;
      backdrop-filter: none;
      transition-property: backdrop-filter, opacity;
      transition-duration: 0.4s;
      min-height: 100%;
      max-height: 100%;
      padding: v.$gap;
      color: v.$secondary-bckg;
      text-shadow: 0.2px 0.2px 0.2px black;
      border-radius: 10px;

      .teams-list {
        display: none;
        &__item {
          display: flex;
          justify-content: space-between;

          .name {
            color: v.$hashtag-color;

            &-vbr {
              color: v.$secondary-bckg;
            }
          }
        }
      }

      .teams-palmares {
        display: none;
        margin-bottom: 10px;
        color: v.$hashtag-color;
        text-shadow: 0.5px 0.5px 0.5px black;
        font-size: 0.8em;

        .team-palmares__item {
          margin-bottom: 5px;
        }
      }
    }

    .team--active {
      opacity: 1;
      backdrop-filter: blur(40px);
      min-height: 150px;
      transition-property: backdrop-filter, opacity, height;
      transition-duration: 0.6s;

      .teams-list {
        display: block;
      }

      .teams-palmares {
        display: block;
      }
    }
  }

  &-pole:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  &-ams2:before {
    background-image: url('/assets/images/ams2-bckg.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-iracing:before {
    background-image: url('/assets/images/iracing-bckg.jpeg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-rfactor:before {
    background-image: url('/assets/images/rfactor-bckg.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-acc:before {
    background-image: url('/assets/images/acc-bckg.webp');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-gt:before {
    background-image: url('/assets/images/gt-bckg.jpg');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-f1:before {
    background-image: url('/assets/images/f1-bckg.jpg');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-rbr:before {
    background-image: url('/assets/images/rbr-bckg.jpg');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-wrc:before {
    background-image: url('/assets/images/wrc-bckg.jpg');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-dirt:before {
    background-image: url('/assets/images/dirt-bckg.webp');
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-rx:before {
    background-image: url('/assets/images/rx-bckg.jpeg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &-all:before {
    background-image: url('/assets/images/all-members.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
}

@media (min-width: 600px) {
  .details {
    padding: 0 calc(2 * v.$gap);
    .pole-container {
      .details-pole {
        min-height: 200px;

        .team--active {
          min-height: 200px;
        }
      }
    }

    .details-all {
      min-height: 350px !important;
    }
  }
}

@media (min-width: 650px) {
  .details {
    .pole-container {
      .details-pole {
        min-height: 225px;

        .team--active {
          min-height: 225px;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .details {
    .pole-container {
      .details-pole {
        min-height: 275px;

        .team--active {
          min-height: 275px;
        }
      }
    }

    .details-all {
      min-height: 400px !important;
    }
  }
}

@media (min-width: 900px) {
  .details {
    .pole-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .details-pole {
        min-height: 220px;
        width: 400px;

        .team--active {
          min-height: 220px;
        }
      }
    }
  }
}

@media (min-width: 950px) {
  .details {
    .pole-container {
      .details-pole {
        min-height: 250px;
        width: 425px;

        .team--active {
          min-height: 250px;
        }
      }
    }

    .details-all {
      min-height: 500px !important;
    }
  }
}

@media (min-width: 950px) {
  .details {
    .pole-container {
      .details-pole {
        width: 435px;
      }
    }
  }
}
