@use '../../styles/variables' as v;

.adds-details {
  .details {
    padding: calc(0.5 * v.$gap);
    min-height: 45.4vh;
    &-title {
      text-align: center;
    }

    &-image {
      display: block;
      max-width: 100%;
      margin: auto;
    }

    &-description {
      font-weight: v.$p-font-weight;
      margin: v.$gap 0;

      &__subtitle {
        color: v.$hashtag-color;
        text-shadow: 0.2px 0.2px 0.2px black;
        font-size: v.$h2-font-size;
        margin: 0;
      }

      &__list {
        margin: v.$gap 0;

        .description-list__item {
          font-weight: v.$p-font-weight;
        }
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;
      margin: calc(1.5 * v.$gap) 0;

      &__item--site {
        position: relative;
        width: 160px;
        height: 40px;
        background-color: v.$main-bckg;
        background-image: url('/assets/images/logos/website.svg');
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 95%;

        .details-links__bindweed {
          width: 4px;
          height: 40px;
          background-color: v.$hashtag-color;
        }

        .details-links__text {
          position: absolute;
          top: 12px;
          left: 10px;
        }
      }

      &__item--fcb {
        position: relative;
        width: 160px;
        height: 40px;
        background-color: v.$main-bckg;
        background-image: url('/assets/images/logos/facebook.png');
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 95%;

        .details-links__bindweed {
          width: 4px;
          height: 40px;
          background-color: v.$hashtag-color;
        }

        .details-links__text {
          position: absolute;
          top: 12px;
          left: 10px;
        }
      }

      &__fcb {
        &_logo {
          display: block;
          height: 40px;
        }
      }
    }
  }
}
