@use '../../styles/variables' as v;

.banner-vbr {
  img {
    display: block;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 660px) {
  .banner-vbr {
    img {
      width: 80%;
    }
  }
}
