@use '../../styles/variables' as v;

.banner-vbr {
  img {
    display: block;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .banner-vbr {
    img {
      width: 80%;
    }
  }
}

// @media (min-width: 510px) {
//   .banner-vbr {
//     min-height: 230px;
//   }
// }

// @media (min-width: 600px) {
//   .banner-vbr {
//     min-height: 400px;

//   }
// }

// @media (min-width: 1000px) {
//   .banner-vbr {
//     min-height: 400px;
//   }
// }

// @media (min-width: 789px) {
//   .banner-vbr {
//     min-height: 340px;
//   }
// }

// @media (min-width: 900px) {
//   .banner-vbr {
//     min-height: 400px;
//   }
// }
